@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: rgb(255, 89, 89);
    --color-primary-75: rgba(255, 89, 89, .75);
    --color-primary-50: rgba(255, 89, 89, .50);
    --color-primary-25: rgba(255, 89, 89, .25);
    --color-secondary: rgb(242, 196, 218);
    --color-gradient-black: linear-gradient(180deg, rgb(110, 226, 245), rgb(10, 11, 11));
    --color-black: rgb(10, 11, 11);
    --color-black-75: rgba(10, 11, 11, .75);
    --color-black-50: rgba(10, 11, 11, .50);
    --color-black-25: rgba(10, 11, 11, .25);
    --color-black-15: rgba(10, 11, 11, .15);
    --color-black-5: rgba(10, 11, 11, .05);
    --color-white: rgb(242, 248, 249);
    --color-white-75: rgba(242, 248, 249, .75);
    --color-white-50: rgba(242, 248, 249, .50);
    --color-white-25: rgba(242, 248, 249, .25);
    --color-white-10: rgba(242, 248, 249, .10);
    --color-white-15: rgba(242, 248, 249, .15);
    --color-white-5: rgba(242, 248, 249, .05);
}

* {
    font-family: "Poppins", serif;
    font-style: normal;
}

h1 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4.2rem;
}

h2 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.2rem;
}

h3 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4rem;
}

h4 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.8rem;
}

h5 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.3rem;
}

h6 {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}

/* p {
    font-size: 1rem;
} */

body {
    background-color: var(--color-black);
}